.page__formation{
  margin: 0;
  h2{
    @media (min-width: 600px) {
      font-size: 2em;
    }
  }
  h2, h3, small {
    margin: 10px 20px 10px 20px;
    text-transform: none;
  }
  p{
    margin: 0 20px 0 20px;
  }
  .conteneur__conteneur{
    @media (min-width: 600px) {
      display: flex;
      flex-direction: row;
    }
    .conteneur_1{
      @media (min-width: 600px){
        width: 50%;
      }
    }
  }
  .listeProgrammes{
    margin: 0 20px 40px 20px;
    list-style: none;
    padding-inline-start: 0;
    @media(min-width: 600px){
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: space-between;
    }
    &__li{
      margin: 10px 0 10px 0;
      padding: 20px 10px 20px 10px;
      background-color: #2B5BA1;
      color: white;
      font-size: 0.5em;
      transition: 0.2s;
      border-radius: 10px;
      font-weight: bold;
      @media(min-width: 600px){
        width: 49%;
        vertical-align: top;
        font-size: 0.7em;
        border-radius: 30px;
      }
      &:nth-of-type(1), &:nth-of-type(5){
        background-color: #BB3E3E;
      }
      &:nth-of-type(5){
      @media (min-width: 600px) {
        width: 100%;
      }
    }
      &:nth-of-type(3), &:nth-of-type(7){
        background-color: #A388B8;
        color: black;

        a{
          color: black;
          text-decoration: none;
          &:hover{
            color: blue;
            text-decoration: underline;
          }
        }
      }
      &:hover{
        box-shadow: grey 5px 5px 5px;
        cursor: pointer;
      }
      &:focus{
        font-size: 1em;
        cursor: default;

      }
      a{
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        color: white;
        font-weight: normal;
        text-decoration: none;
        &:hover{
          color: mediumpurple;
          text-decoration: underline;
        }
      }

      ul{
        padding-top: 10px;
        list-style: none;
        padding-inline-start: 0;

      }
    }
  }
  .listeEmployeurs{
    margin: 0 20px 0 20px;
    @media (min-width: 600px){
      width: 100%;

    }
    ul{
      list-style: none;
      padding-inline-start: 0;
      li{
        padding: 20px 0 20px 0;

      }
    }
  }
  .listeEmplois{
    margin: 0 20px 0 20px;
    ul{
      list-style: none;
      padding-inline-start: 0;
      li{
        padding: 10px;
        border: 2px solid #2B5BA1;
        margin-top: 10px;
        transition: 0.2s;
        &:hover{
          background-color: #2B5BA1;
          color: white;
        }
        p{
          visibility: hidden;
          height: 0;
          transition: 0.4s;
        }
        .visible{
          visibility: visible;
          height: auto;
          padding: 20px 10px 10px 10px;
          transition:0.4s;
        }
      }
    }

  }
  .cache{
     display: none;
  }
  .contenuPrincipal{
    margin-top: 20px;
    @media (min-width: 600px){
      display: inline-block;
      width: 50%;
    }
  }
  .imagePictogramme{
    margin: 20px 20px 0 20px;
    @media (min-width: 600px) {
      display: inline-block;
      float: right;
      margin: 20px 15% 0 0;
    }
  }
  .imageSeparateur{
    margin: 20px 0 0 0;
    width: 100%;
  }
  .listeCours{
    h3{
      margin: 0;
    }
    padding-inline-start: 0;
    margin: 0 20px 0 20px;
    #cours{
      &0{
        h3{
          color: #2B5BA1;
          font-size: 2em;
          margin-bottom: 20px;
          @media(min-width: 600px){
            margin-top: 30px;
          }
        }
      }
      &1{
        h3{
          color: #BB3E3E;
          font-size: 2em;
          margin-bottom: 20px;
          @media(min-width: 600px){
            margin-top: 30px;
          }
        }
      }
      &2{
        h3{
          color: #A388B8;
          font-size: 2em;
          margin-bottom: 20px;
          @media(min-width: 600px){
            margin-top: 30px;
          }
        }
      }
      &3{
        h3{
          color: #FFB800;
          font-size: 2em;
          margin-bottom: 20px;
          @media(min-width: 600px){
            margin-top: 30px;
          }
        }
      }
      &4{
        h3 {
          color: #56C954;
          font-size: 2em;
          @media(min-width: 600px){
            margin-top: 30px;
          }
        }
      }
    }
    li{

      h3{
        font-size: 2em;
        margin-bottom: 20px;
      }
      ul{
        margin-top: 20px;
        padding-inline-start: 0;
        li{
          display: inline-block;
          width: 45%;
          border: #2B5BA1 2px solid;
          margin-bottom: 10px;
          padding: 5px;
          transition: 0.2s ease-in;
          &:hover{
            background-color: #2B5BA1;
            color: white;
          }
        }
      }
    }
  }
  .conteneur__grilleCours--video{
    @media (min-width: 600px) {
      display: flex;
    }
  }
  .grilleCours{
    background-color: #C4C4C4;
    padding: 20px 20px 30px 20px;
    margin: 20px 20px 40px 20px;
    box-shadow: #2B5BA1 -10px 10px 0px;
    @media(min-width: 600px){
      margin-top: 40px;
      width: 45%;
    }
    h3{
      font-size: 24px;
      margin: 0;
    }
    p{
      font-size: 16px;
      margin: 20px 0 20px 0;

      a{
        display: none;
      }
    }
    a{
      border: #2B5BA1 solid 2px;
      border-radius: 10px;
      background-color: white;
      color: #2B5BA1;
      text-decoration: none;
      padding: 10px 50px 10px 50px;
      margin-left: 15%;
      transition: 0.2s;
      font-weight: 500;
      @media(min-width: 600px){
        margin-left: 25%;
        padding: 10px 100px 10px 100px;
      }
      &:hover{
        text-decoration: underline;
      }
      &:active{
        background-color: #2B5BA1;
        color: white;
      }
    }
  }
  .videoTim{
    margin: 30px 0 30px 0;
    width: 100%;
    height: 225px;
    @media (min-width: 600px) {
      width: 45%;
      height: 325px;
    }
  }
  .conteneur__etuQueInsTem{
    @media (min-width: 600px) {
      display: flex;
      .conteneur__gauche{
        display: flex;
        flex-direction: column;
      }
    }
  }
  
  .etudiantJour{
    margin-bottom: 40px;

    h3{
      font-size: 24px;
    }
    p{
      font-size: 16px;
      margin-bottom: 20px;
    }
    a:last-of-type{
      border: #2B5BA1 solid 2px;
      border-radius: 10px;
      background-color: white;
      color: #2B5BA1;
      text-decoration: none;
      margin: 0 20px 0 20px;
      padding: 10px 10px 10px 10px;
      transition: 0.2s;
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      &:hover{
        text-decoration: underline;
      }
      &:active{
        background-color: #2B5BA1;
        color: white;
      }
    }
  }
  .inscription{
    margin-bottom: 40px;
    h3{
      font-size: 24px;
    }
    p{
      font-size: 16px;
      margin-bottom: 20px;
    }
    a:last-of-type{
      border: #2B5BA1 solid 2px;
      border-radius: 10px;
      background-color: #2B5BA1;
      color: white;
      text-decoration: none;
      margin: 0 20px 0 20px;
      padding: 10px 40px 10px 40px;
      transition: 0.2s;
      font-weight: 500;
      font-size: 14px;
      width: 100%;
      box-shadow: grey 6px 6px 6px;
      &:hover{
        text-decoration: underline;
      }
      &:active{
        background-color: white;
        color: #2B5BA1;
      }
    }
  }
  .fleche--droite{
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-left: 35px solid black;
    border-radius: 10px;

    transition: 0.3s;
    display: inline-block;

    &:hover{
      border-left: 35px solid #D7D7D7;
      cursor: pointer;

    }
    @media (min-width: 600px){
    margin-left: 10%;
    }
  }
  .fleche--gauche{
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    border-right: 35px solid black;
    border-radius: 10px;
    margin-right: 70%;
    transition: 0.3s;
    display: inline-block;

    &:hover{
      border-right: 35px solid #D7D7D7;
      cursor: pointer;

    }
    @media (min-width: 600px){

    }
  }
  .temoignages{
    @media (min-width: 600px) {
      width: 50%;
    }
    h3{
      font-size: 24px;
    }
    .listeTemoignages{
      margin: 0 20px 0 20px;
      background-color: #c7c7c7;
      list-style: none;
      padding-inline-start: 0;
      padding: 20px;
      box-shadow: #2B5BA1 -10px 10px 0px;
      .li__temoignages{
        ul{
          list-style: none;
          padding-inline-start: 0;
          img{
            float: left;
            width: 40%;
            height: 140px;
            object-fit: cover;
            margin-right: 20px;
          }
          li:nth-child(2){
            font-weight: bold;
            overflow-wrap: normal;
            white-space: nowrap;
          }
          li:last-child{
            width: 100%;
            white-space: normal;
            margin: 30px 0 30px 0;
          }
          li{

            overflow-wrap: break-word;
            display: inline-block;
            width: 50%;
            font-size: 16px;
            margin-bottom: 10px;

          }

        }
      }
    }
    margin-bottom: 40px;
  }
  #piechart{
    width: 100%;
    height: 300px;
    margin-top: 20px;
    @media (min-width: 600px){
      width: 50%;
      float: right;
    }
  }
  .placeholderText{
    display: none;
    @media (min-width: 600px) {
      width: 40%;
      height: 300px;
      display: inline-block;
      margin-left: 20px;
      font-size: 2em;
    }

  }
}