.page__joindre{
  margin: 0 20px 0 20px;
  .listeResponsables{
    list-style: none;
    padding-inline-start: 0;
    width: 100%;
    .li__responsable{
      margin: 20px 0 60px 0;
      @media(min-width: 600px){
        display: inline-block;
        width: 49%;
        margin: 20px 0 20px 0;
      }
      img{
        border: black 2px solid;
        border-radius: 25px;
        transition: 0.3s;
      }
      &:nth-child(odd){
        img{
          float:left;
        }
        li:first-child{
            background-color: #2B5BA1;
          border-radius: 25px 0 0 0 ;
        }
      }
      &:nth-child(even){

        img{
          float:right;
        }
        li{
          @media(min-width: 600px){
            margin-left: 20%;
          }

          &:first-child{
            background-color: #BB3E3E;
            border-radius: 0 25px 0 0 ;
            @media(min-width: 600px){
              margin-left: 0;

            }

          }
        }
      }
      ul{
        list-style: none;
        padding-inline-start: 0;
        li{
        font-size: 0.8em;
          background-color: #D7D7D7;
        text-align: center;
          @media(min-width: 600px){
            width: 80%;
          }

        &:first-child{
          font-weight: bold;
          height: 2em;
          line-height: 2em;
          font-size: 1em;
          text-align: center;
          color: white;
          margin-bottom: 10px;
          padding: 0;
          @media(min-width: 600px){
            width: 100%;
          }
        }
          padding: 5px 0 5px 0;
          &:last-child{
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          }
        }
      }

      &:hover{
        cursor: pointer;
        img{
          filter: brightness(120%);
        }
        li{
          text-decoration: underline;
        }
      }
    }
  }
  form{
    background-color: #D7D7D7;
    padding: 20px 20px 70px 20px;
    @media (min-width: 600px){
      width: 70%;
      margin: 50px auto 50px auto;
      border-radius: 30px;
      padding: 40px 15% 70px 15%;
      label{
        width: 100%;
        display: inherit;
      }
    }
    fieldset{
      border: none;
      margin-bottom: 20px;
    }
    legend{
      font-weight: bold;
      margin-bottom: 20px;
    }
    input[type="text"]{
      width: 100%;
      margin-bottom: 20px;
      @media(min-width: 600px){
        width: 50%;
        &:nth-of-type(5), &:nth-of-type(6){
          width: 70%;
        }
      }
    }
    select{
      width: 100%;
    }

    input[type="radio"]{
      -webkit-appearance: none;
      appearance: none;

      width:45%;
      height: 6.5em;
      border-radius: 25%;
      margin: 0 10px 20px 0;
      @media(min-width: 600px){
        width: 30%;
        height: 9em;
      }
      &:first-of-type{
        background-image:url("../images/boutonEmployeur.png");
      }
      &:nth-of-type(2){
        background-image:url("../images/boutonEtudiant.png");

      }
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      transition: 0.3s;
      &:hover{
        box-shadow: inset black 2px 2px 5px;
      }
      &:checked{
        filter: invert(100%);
        &:hover{
          box-shadow: none;
        }
      }

    }
    label[for="employeur"], label[for="etudiant"]{
      display: none;
    }
    textarea{
      width: 100%;
      height: 10em;
    }
  }
  button{
    float: right;
    margin: 0 15px 0 0;
    background-color: #2B5BA1;
    color: white;
    border: none;
    height: 50px;
    width: 130px;
    border-radius: 10px;
    box-shadow: dimgrey 0 2px 5px;
    &:hover{
      text-decoration: underline;
      border: 2px white solid;

    }
    &:active{
      background-color: white;
      border: 2px #2B5BA1 solid;
      color: #2B5BA1;
    }
  }
}